<article class="post row gy-4">
    <div class="col-12">
      <h2 class="post-title">
        {{ include.post.title }}
      </h2>
      <p class="post-meta">
        <span class="post-date text-secondary-emphasis">
          <time datetime="{{ include.post.date | date_to_xmlschema }}" class="post-date">
            {% include locale-date.html date=include.post.date format="%-d %B %Y" lang="br" %}
          </time>
        </span>|
        <span class="post-read-time text-secondary-emphasis">
          {% include read-time.html content=include.post.content %} Minutos de leitura
        </span>
      </p>
      {% include share-buttons.html %}
    </div>
    {% if include.post.coverImage %}
    <div class="col-12">
      <a href="{{ include.post.url | relative_url }}">
        <img src="/assets/images/{{ include.post.coverImage }}" class="post-image post-image-home img-fluid rounded" alt="Cover Image" style="width: 100%;">
      </a>
    </div>
    {% endif %}
    <div class="col-12">
      <div class="post-content fs-5">
        {{ include.post.content }}
      </div>
    </div>
    <div class="col-12">
       <p class="post-tags">
        {% for tag in include.post.tags %}
          <span class="post-tag">
            <a class="link-light text-secondary-emphasis fst-italic link-underline link-underline-opacity-0 link-underline-opacity-100-hover fs-6" href="{{ site.tag_dir | prepend: '/' }}/{{ tag | uri_escape }}">#{{ tag }}</a>
          </span>
        {% endfor %}
      </p>
    </div>
</article>
<div class="share-buttons-post-bottom row gy-4">
{% include share-buttons.html %}
</div>
