<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <p class="offcanvas-title" id="offcanvasNavbarLabel">{{ site.title }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
      <ul class="navbar-nav d-flex justify-content-end">
        {% for nav in site.nav %}
        <li class="nav-item">
          <a class="nav-link" href="{{ nav.url }}">{{ nav.title }}</a>
        </li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
</nav>
