<article class="post summary col-md-12 cotainer">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="post-image col-auto col-sm-3 d-lg-block imgContainer">
          <a href="{{ include.post.url | relative_url }}">
            <img src="/assets/images/{{ post.coverImage }}" class="bd-placeholder-img" alt="Cover Image">
          </a>
        </div>
       <div class="col p-4 d-flex flex-column position-static">
          <span class="post-date d-inline-block mb-2">
            <time datetime="{{ include.post.date | date_to_xmlschema }}" class="post-date">
              {% include locale-date.html date=include.post.date format="%-d %B %Y" lang="br" %}
            </time>&nbsp;|&nbsp;
            {% include read-time.html content=include.post.content post=include.post %} Minutos de leitura
          </span>
          <h2 class="post-title mb-1">
            <a href="{{ include.post.url | relative_url }}">
              {{ include.post.title }}
            </a>
          </h2>
          <p class="post-tags mb-auto">
            {% for tag in include.post.tags limit:6 %}
              <span class="post-tag">
                <a href="/tags/#{{ tag | url_encode }}">#{{ tag }}</a>
              </span>
            {% endfor %}
          </p>
          {% include share-buttons.html %}
      </div>
    </article>
