header {
  margin-top: $spacer * 1.5;
  margin-bottom: $spacer * 1.5;
  padding-left: 10px;
  .masthead-title a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
  .masthead-description {
    font-style: italic;
    padding-left: 2px;
    
  }
}

footer {
  margin-top: $spacer * 1.5;
  margin-bottom: $spacer * 1.5;
  font-weight: bold;
  .footer-links {
    a {
      text-decoration: none;
      color: inherit;
      font-weight: normal;
      &:hover {
        text-decoration: underline;  
      }
    }
  }
}

.pagination {
  .page-link {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
