.post {
  .post-image {
    img {
      width: 100%;
    }
  }
  .post-title a {
    text-decoration: none;   
    color: inherit;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  .post-tags {
    .post-tag {
      margin-right: $spacer * 0.5;
      a {
          text-decoration: none;
          font-size: $body-font-size * 0.8;
          font-style: italic;
          color: #adb5bd;
          &:hover {
            text-decoration: underline;
            color: inherit;
          }
      }
    }
  }
  .post-content p {
    font-family: $body-font;
    font-size: $body-font-size;
  }
}

.comments {
  margin-bottom: $spacer * 2;
}

.post {
  &.summary {
    h2.post-title {
      font-size: $spacer * 1.5;
    }
    .post-date {
     font-size: $body-font-size * 0.8;
    }
  }
}
