.posts {
  &.summary {
    .post {
     .post-title a {
      text-decoration: none;   
      color: inherit;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
     }
     .post-date {
     } 
      .post-tags {
        .post-tag {
          margin-right: $spacer * 0.5;
          a {
              text-decoration: none;
              font-size: $body-font-size * 0.8;
              font-style: italic;
              color: #adb5bd;
              &:hover {
                text-decoration: underline;
                color: inherit;
              }
            }
          }
        }
    }
  }
}
.post {
  .post-image {
    img {
      width: 100%;
    }
  }
  .post-content p {
    font-family: $body-font;
    font-size: $body-font-size;
  }
}
