@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: $body-max-width;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: $body-max-width;
  }
}

.social-links {
  a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    &:hover {
      text-decoration: underline;  
    }
  }
}
.share-buttons {
  .share-button {
    margin-right: $spacer * 0.5;
    a {
      text-decoration: none;
      color: inherit;
      font-weight: normal;
      &:hover {
        color: #0d6efd;
      }
    }
  }
}

.share-buttons-post-bottom {
  margin-bottom: $spacer * 2;
}
.imgContainer{
  overflow:auto;
  object-fit: fill;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
